@model IEnumerable<AspNetMvcDemo.Models.Product>

@{
    ViewBag.Title = "Index";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="small-12 medium-4 columns" id="editor">
        <div class="callout primary">
            <h5>Product Database</h5>
            <p>Press <kbd>Create New</kbd> to enter a new product, or click existing product's number to edit.</p>
        </div>
    </div>
    <div class="small-12 medium-8 columns">
        <div class="input-group">
            <div class="input-group-button">
                <input type="button" value="Create New" id="createnew" />
            </div>
            <label for="filter" class="input-group-label">Filter:</label>
            <input type="text" name="filter" id="inputfilter" class="input-group-field">
        </div>
        <table class="hover stack" id="modeltable">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modified)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="#" class="edit">@Html.DisplayFor(modelItem => item.ID)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modified)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>
        $(document).ready(function () {
            //Filter table
            $("#inputfilter").keyup(function () {
                filter = new RegExp($(this).val(), 'i');
                $("table tbody tr").filter(function () {
                    $(this).each(function () {
                        found = false;
                        $(this).children().each(function () {
                            content = $(this).html();
                            if (content.match(filter)) {
                                found = true
                            }
                        });
                        if (!found) {
                            $(this).hide();
                        }
                        else {
                            $(this).show();
                        }
                    });
                });
            });
            //Load Create form
            $("#createnew").click(function () {
                $('#editor').load('/Home/Create');
            });
            //Load edit form
            $(".edit").click(function (event) {
                event.preventDefault();
                $('#editor').load('/Home/Edit/' + $(this).text());
            });
            //Post form and handle server-side validation results
            $(document).on('submit', 'form', function () {
                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'),
                    data: $('form').serialize(),
                    dataType: 'json',
                    success: function (result) {
                        if (result.url != null) {
                            window.location = result.url;
                        } else {
                            $("#editor").html(result.partial);
                        }
                    }
                });
                return false;
            });

        });
    </script>
}