@model List<AspNetMvcDemo.Models.Product>
@{
    ViewBag.Title = "Product List";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="small-12 medium-4 columns">
        <form>
            <div class="input-group">
                <label for="name" class="input-group-label">Name:</label>
                <input type="text" name="name" id="name" class="input-group-field">
            </div>
            <fieldset class="fieldset">
                <legend>Category</legend>
                <input type="radio" name="category" id="vegetable" value="vegetable"><label for="vegetable">Vegetable</label>
                <input type="radio" name="category" id="fruit" value="fruit"><label for="fruit">Fruit</label>
            </fieldset>



            <div class="row">
                <div class="large-4 column">
                    <label for="instock">
                        In stock?
                        <input type="checkbox" name="instock" id="instock" value="true">
                    </label>
                </div>
                <div class="large-8 column">
                    <select name="store">
                        <option value="1">Store 1</option>
                        <option value="2">Store 2</option>
                        <option value="3">Store 3</option>
                        <option value="4">Store 4</option>
                    </select>
                    <input type="submit" value="Submit" class="success button"/>

                </div>

            </div>
        </form>
    </div>

    <div class="small-12 medium-8 columns">
        <div class="input-group">
            <label for="filter" class="input-group-label">Filter:</label>
            <input type="text" name="filter" id="inputfilter" class="input-group-field">
            <div class="input-group-button">
                <input type="button" name="toggle" id="changetable" value="Change table"/>
            </div>
            
        </div>
        <table class="hover stack" id="resttable">
            <caption>ToDo List</caption>
            <thead>
                <tr>
                    <th>User</th>
                    <th>ID</th>
                    <th>Task</th>
                    <th>Completed?</th>
                </tr>
            </thead>

            <tbody>
            </tbody>

        </table>

        <table class="hover stack" id="modeltable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model[0].ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Modified)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Price)
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.Category</td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.Modified</td>
                        <td>@item.Price</td>
                    </tr>
                }
            </tbody>

            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Total:</th>
                    <th>@Model.Sum(item => item.Price)</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {

            $.ajax({
                type: "GET",
                url: "http://jsonplaceholder.typicode.com/todos",
                dataType: "json",
                success: function (data) {
                    $.each(data, function (index, results) {
                        $("#resttable tbody").append(
                            "<tr>"
                            + "<td>" + results.userId + "</td>"
                            + "<td>" + results.id + "</td>"
                            + "<td>" + results.title + "</td>"
                            + '<td class="completed">' + results.completed + "</td>"
                            + "</tr>")
                    })
                }

            });

            $("#inputfilter").keyup(function () {
                filter = new RegExp($(this).val(), 'i');
                $("table tbody tr").filter(function () {
                    $(this).each(function () {
                        found = false;
                        $(this).children().each(function () {
                            content = $(this).html();
                            if (content.match(filter)) {
                                found = true
                            }
                        });
                        if (!found) {
                            $(this).hide();
                        }
                        else {
                            $(this).show();
                        }
                    });
                });
            });
            $('#modeltable').hide();
            $('#changetable').click(function () {
                $('table').toggle();
            });
        });
    </script>
}


