<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASP.NET Tasks</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="top-bar">
        <div class="column row">
            <ul class="vertical medium-horizontal dropdown menu" data-responsive-menu="drilldown medium-dropdown">
                <li class="menu-text">
                    @Html.ActionLink("ASP.NET Tasks", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </li>
                <li>@Html.ActionLink("Home", "Index", "Home")
                    <ul class="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")
                            <ul class="menu">
                                <li>@Html.ActionLink("JSON Demo", "Json", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            </ul>

                        </li>
                        <li>@Html.ActionLink("JSON Demo", "Json", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>

                </li>
                <li>@Html.ActionLink("JSON Demo", "Json", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>
    </div>
    <div class="column row">
        @RenderBody()
    </div>
    <div class="column row">
            <footer>
                <hr />
                <p>&copy; @DateTime.Now.Year - Artem Astashenkov</p>
            </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/foundation")
    <script>
        $(document).foundation();
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
